---
const code =async (response:any) => {
	eval(JSON.parse(response))	
}

console.log(code)
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>コールバックページ</title>
	</head>
	<body>
{code}
	</body>
</html>
