---
// const clientID = import.meta.env.clientID
// const redirectURL = import.meta.env.redirectURL
export const clientID = "sXsAgy1FepR0VE4FGzJTxQ"
export const redirectURL = "https://line-notify-program.vercel.app/redirect"
const URL = `https://notify-bot.line.me/oauth/authorize?response_type=code&client_id=${clientID}&redirect_uri=${redirectURL}&scope=notify&state=state&response_mode=form_post`
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LINE notify program</title>
	</head>
	<body>
		<div class="container mx-auto mt-10">
			<h1 class="text-red-500 text-4xl font-bold">LINE連携</h1>
			<a href={URL} target="_blank">リンク</a>
		</div>
	</body>
</html>
