---
const clientID = import.meta.env.clientID
const redirectURL = import.meta.env.redirectURL
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LINE notify program</title>
	</head>
	<body>
		<h1>LINE連携</h1>
		<a href=`https://notify-bot.line.me/oauth/authorize?response_type=code&client_id=${clientID}&redirect_uri=${redirectURL}&scope=notify&state=state`>ここにリンク</a>
	</body>
</html>
